@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-rgb {
  background: linear-gradient(
    90deg,
    rgba(142, 72, 204, 1) 0%,
    rgba(15, 112, 230, 1) 100%
  );
}
.text_rgb {
  background: linear-gradient(
    90deg,
    rgba(142, 72, 204, 1) 0%,
    rgba(15, 112, 230, 1) 100%
  );

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.is_hidden {
  display: none;
}
.ml_8r {
  margin-left: 0;
}
@media (min-width: 640px) {
  .ml_8r {
    margin-left: 8rem;
  }
}
@media (min-width: 1200px) {
  .is_hidden {
    display: unset;
  }
}
